$headerHeight: 132px;
$headerHeightTablet: 80px;
$headerHeightMobile: 69px;

// $backGroundColor: hsla(247, 15%, 12%, 1);
$backGroundColor: #61b4e6;
$fontColorMain: hsla(275, 20%, 90%, 1);
$outstandingColor: hsla(32, 100%, 62%, 1);
$buttonNonActive: hsla(275, 20%, 90%, 0.1);
$buttonActive: hsla(266, 100%, 69%, 1);

$bLaptop: 1500px;
$laptop: 1280px;
$bTablet: 870px;
$tablet: 750px;
$sTablet: 670px;
$ssTablet: 600px;
$mobile: 520px;
$sMobile: 400px;
$ssMobile: 380px;